// @import "globals";

// .topbar__container {
//   background-color: #fff;
//   border-bottom: 1px solid #f2f2f2;
// }
// .topbar {
//   display: flex;
//   justify-content: space-between;
//   padding-top: 15px;
//   padding-bottom: 15px;
//   @media (max-width: $bp-md) {
//     flex-direction: column;
//     gap: 0.5rem;
//     align-items: center;
//   }

//   ul {
//     display: flex;
//   }
//   &__contact {
//     gap: 25px;
//     @media (max-width: $bp-md) {
//       justify-content: center;
//       flex-wrap: wrap;
//       gap: 7px;
//     }
//     a {
//       display: flex;
//       color: var(--primary-color-1);
//       align-items: center;
//       font-size: $fs-sm;
//       gap: 5px;
//       font-weight: $fw-medium;
//       transition: all 0.5s;
//       -webkit-transition: all 0.5s;
//       -moz-transition: all 0.5s;
//       -ms-transition: all 0.5s;
//       -o-transition: all 0.5s;
//       cursor: pointer;
//       @media (max-width: $bp-md) {
//         font-size: $fs-xs;
//       }
//       &:hover {
//         color: var(--primary-color);
//       }
//       svg {
//         font-size: $fs-lg;
//       }
//     }
//   }
//   &__links {
//     gap: 10px;
//     a {
//       display: block;
//       color: #fff;
//       width: 25px;
//       height: 25px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       border: 1px solid transparent;
//       font-size: $fs-md;
//       background-color: var(--primary-color);
//     }
//   }
// }

// .navbar {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   padding: 15px 0;


//   // Mobil üçün toggle görünür
//   &__toggle-btn {
//     display: block;

//     @media (min-width: 768px) {
//       display: none;
//     }
//   }

//   // Default: mobil menyu gizlənir
//   &__list {
//     display: none;
//     flex-basis: 100%;
//     margin-top: 15px;
//     border-top: 1px solid #eee;
//     &-item-dropdown {
//       display: flex;
//       align-items: center;
//     }
//     // Toggle açıq olanda göstər
//     &.show {
//       display: block;
//       max-height: 60vh;
//       overflow-y: auto;
//       padding: 10px 15px;
//     }

//     // Tablet və yuxarı: flex menyu
//     @media (min-width: 768px) {
//       display: flex;
//       flex-basis: auto;
//       gap: 30px;
//       margin-top: 0;
//       border-top: 0;
//     }
//     @media (min-width: 768px) and (max-width: 991px) {
//       gap: 20px;
//     }

//     li {
//       padding: 10px 0;
//       position: relative;

//       @media (min-width: 768px) {
//         padding: 15px 0;
//       }

//       a { 
//         color: var(--primary-color-2);
//         font-weight: $fw-medium;
//         @include transition(0.15s);

//         &:hover {
//           color: var(--primary-color);
//         }
//       }

//       // Hover ilə dropdown açılır (desktop)
//       &:hover .navbar__list-dropdown {
//         @media (min-width: 768px) {
//           opacity: 1;
//           visibility: visible;
//           top: 100%;
//         }
//       }
//     }

//     // Dropdown
//     &-dropdown {
//       display: block;
//       background: #fff;
//       padding: 10px 0;
//       @include radius(4px);
//       @include transition();

//       // Mobile: sadəcə altına açılır
//       position: relative;
//       opacity: 1;
//       visibility: visible;
//       margin-top: 10px;
//       border-left: 1px solid #eee;

//       // Desktop: gizli olsun
//       @media (min-width: 768px) {
//         position: absolute;
//         top: 80px;
//         left: 0;
//         width: 250px;
//         box-shadow: 0 0 15px 0 #ddd;
//         border-top: 2px solid #0046c0;
//         opacity: 0;
//         visibility: hidden;
//         margin-top: 0;
//         border-left: 0;
//       }

//       li a {
//         display: block;
//         padding: 8px 14px;
//         font-size: 14px;

//         &:hover {
//           color: var(--primary-color);
//         }
//       }
//     }
//   }

//   // Search form
//   &__form {
//     display: none;
//     position: relative;

//     @media (min-width: 992px) {
//       display: block;
//     }

//     form {
//       input {
//         height: 40px;
//         padding: 0.3rem 0.5rem;
//         border: 1px solid var(--bs-border-color);
//         @include radius($radius-md);
//         @include transition(0.5s);

//         &:focus {
//           border-color: #86b7fe;
//           outline: 0;
//           box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
//         }
//       }

//       button {
//         position: absolute;
//         top: 0;
//         right: 0;
//         width: 40px;
//         height: 100%;
//         background-color: #d8e0e8;
//         @include radius($radius-sm);
//       }
//     }
//   }
// }
// .container {
//   width: 100%;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 1rem;
//   padding-right: 1rem;

//   @media (min-width: $bp-sm) {
//     max-width: 540px;
//   }
//   @media (min-width: $bp-md) {
//     max-width: 720px;
//   }
//   @media (min-width: $bp-lg) {
//     max-width: 960px;
//   }
//   @media (min-width: $bp-xl) {
//     max-width: 1140px;
//   }
//   @media (min-width: $bp-xxl) {
//     max-width: 1320px;
//   }
// }
